{{ define "editar" }}
{{ template "cabecera" }}


<div class="card">
  <div class="card-header">Empleado</div>
  <div class="card-body">
    <form method="post" action="/actualizar">

    <div class="form-group">
      <label class="sr-only" for="inputName">Clave de registro</label>
      <input type="text" value={{.Id}} class="form-control" name="id" id="id" placeholder="">
    </div>

    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" name="nombre" value={{.Nombre}} id="nombre" aria-describedby="helpId" placeholder="Ingrese el nombre">
      <small id="helpId" class="form-text text-muted">Edite el registro</small>
    </div>

    <div class="form-group">
      <label for="correo">Correo:</label>
      <input type="email" class="form-control" value={{.Correo}} name="correo" id="correo" aria-describedby="emailHelpId" placeholder="Ingrese el correo">
      <small id="emailHelpId" class="form-text text-muted">Edite el registro</small>
    </div>
      
      <button type="submit" class="btn btn-success">Actualice el registro</button>
      <a name="" id="" class="btn btn-primary" href="/" role="button">Cancelar</a>
      
    </form>
  </div>
</div>



{{ template "pie" }}
{{end}}