{{ define "inicio" }}
{{ template "cabecera" }}
        
   

   <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Jose</td>
            <td>joseayala@outlook.es</td>
            <td>Edit | Delete</td>
        </tr>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
   </table>

{{end}}